<div class="tags">
  <h3>Tags</h3>
  <a class="tag" href="">social</a>
  <a class="tag" href="">volunteer</a>
  <a class="tag" href="">news</a>
  <a class="tag" href="">hashtag</a>
  <a class="tag" href="">awesomeness</a>
  <a class="tag" href="">opportunities</a>
  <a class="tag" href="">story</a>
  <a class="tag" href="">media</a>
  <a class="tag" href="">smile</a>
  <a class="tag" href="">photo</a>
</div>

<div class="quicklinks">
  <h3>Quick Links</h3>
  <a class="quicklink" href="">Home Page</a>
  <a class="quicklink" href="">Slam Page</a>
  <a class="quicklink" href="">Who are we?</a>
  <a class="quicklink" href="">Contact Us</a>
</div>

<div class="related">
  <h3>Related</h3>
  <a class="related-link" href="">Find us</a>
  <a class="related-link" href="">Something Here</a>
  <a class="related-link" href="">Another here</a>
</div>

<div class="connect">
  <div class="contact">
    <h3>News Letter</h3>
    <form action="">
      <input type="text" name="name" placeholder="Name"/>
      <input type="email" name="email" placeholder="Email"/>
      <input type="submit" value="subscribe"/>
    </form>
  </div>

  <div class="social">
    <a href="http://facebook.com"></a>
    <a href="http://twitter.com"></a>
    <a href="http://vimeo.com"></a>
  </div>
</div>
