<div class="top-header" style="background-image: url(media/header-1.jpg)">
  <div class="overlay"></div>
  <div class="intro">
    <div class="title">Hope to the Fatherless <br> Starts with You</div>
    <div class="description">more of something here</div>
  </div>
</div>